[Unit]
Description=Refresh Drivion system information and hotspot identity
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
Environment=PYTHONPATH={{ service_library_directory }}
ExecStart={{ service_python_executable }} -m system.information.update --car-root {{ car_root }} --config-root {{ service_configuration_directory }} --update-hotspot

[Install]
WantedBy=multi-user.target
